.red{
    background-color:#37123C;
}

p{
   color: #003049;
}

h5{
    color: #003049;
}

.btn-primary{
    background-color: #003049;
}

.card{
    border-color: #003049 ;
    border-width: 1.5px;
}

.primera{
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

img{
    display: block;
    margin: auto;
}

.price{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 3rem;
    border-radius: 50px;
}

.img{
    width:1200px;
}

.site-footer
{
  background-color:#37123C;
  padding:45px 0 20px;

}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.copyright-text
{
  margin:0;
  color:blanchedalmond
}

/* Loader */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
 }
  50% {
    transform: rotate(180deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: grey;
 }
  50% {
    transform: rotate(180deg);
    border-top-color: blue;
 }
  100% {
    transform: rotate(360deg);
    border-top-color: grey;
 }
}
* {
  box-sizing: border-box;
}
body {
  background: #f9f9f9;
  margin-bottom: 5em;
}
.loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
}
.loader div {
  height: 100%;
}

.loader1, .loader1 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: grey;
  border-bottom-color: blue;
}
div:hover {
  animation-play-state: paused;
}
.loader, .loader * {
  will-change: transform;
}
.position{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 1.5em;
}

.flex-outer {
  max-width: 800px;
  margin: 2em auto;

}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #003049;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

h2{
  color:#003049;
  text-align: center;
  text-decoration: underline;
}

html {
  display: grid;
  min-height: 100%;
}
body {
  display: grid;
  /* overflow: hidden; */
  text-align: center;
}
#container {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  width: 950px;
  height: 400px;
}
h1 {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.green {
  color: #4ec07d;
}
.alert {
  font-weight: 700;
  letter-spacing: 5px;
}

button, .dot {
  cursor: pointer;
}
#success-box {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 50%;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  perspective: 40px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}
.dot:hover {
  background: #c9c9c9;
}
.two {
  right: 12%;
  opacity: 0.5;
}
.face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}
.face2 {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}
.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}
.right {
  left: 68%;
}
.mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.happy {
  border: 2px solid;
  border-color: transparent #777 #777 transparent;
  transform: rotate(45deg);
}
.sad {
  top: 49%;
  border: 2px solid;
  border-color: #777 transparent transparent #777;
  transform: rotate(45deg);
}
.shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: 0.5;
  background: #777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}
.scale {
  animation: scale 1s ease-in infinite;
}
.move {
  animation: move 3s ease-in-out infinite;
}
.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}
.button-box {
  position: absolute;
  background: #fcfcfc;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  top: 83%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(119, 119, 119, .5);
  transition: all 0.5s ease-in-out;
}
.button-box:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@keyframes bounce {
  50% {
    transform: translateY(-10px);
 }
}
@keyframes scale {
  50% {
    transform: scale(0.9);
 }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
 }
  50% {
    left: 60%;
    transform: rotate(168deg);
 }
  100% {
    transform: rotate(0deg);
    left: 25%;
 }
}
@keyframes move {
  0% {
    left: 25%;
 }
  50% {
    left: 60%;
 }
  100% {
    left: 25%;
 }
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}
footer p {
  color: #ef8d9c;
  letter-spacing: 2px;
}
footer a {
  color: #b0db7d;
  text-decoration: none;
}
footer a:hover {
  color: #ffc39e;
}
