.red{
    background-color:#37123C;
}

p{
   color: #003049;
}

h5{
    color: #003049;
}

.btn-primary{
    background-color: #003049;
}

.card{
    border-color: #003049 ;
    border-width: 1.5px;
}

img{
    display: block;
    margin: auto;
}

.price{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 3rem;
    border-radius: 50px;
}